@model Domain.Dtos.UserDtos.LoginUserDto

@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/Auth.css" />

<div class="sign_up_window">
    <form class="form-content" method="post" asp-action="CheckUser">
        <img src="/Assets/Images/bar_chart_growth_logo.png" alt="alt text" />
        <h1>Вхід</h1>
        <div class="textBox">
            <input required class="input" placeholder="Email" asp-for="Email" />
            <br />
            <input required class="input" type="password" placeholder="Пароль" asp-for="Password" />
            <br />
            <button id="submit" type="submit" value="Submit" class="btn btn-primary">Увійти</button>
        </div>
    </form>
</div>
