@model Domain.Dtos.UserDtos.RegisterUserDto

@{
    ViewData["Title"] = "SignUp";
}

<link rel="stylesheet" href="~/css/Auth.css" />

<div class="sign_up_window">
    <form class="form-content" method="post" asp-action="CreateUser">
        <img src="/Assets/Images/bar_chart_growth_logo.png" alt="alt text" />
        <h1>Реєстрація</h1>
        <div class="textBox">
            <input required class="input" placeholder="Ім'я" asp-for="Name" />
            <br />
            <input required class="input" placeholder="Прізвище" asp-for="Surname" />
            <br />
            <input required class="input" placeholder="Email" asp-for="Email" />
            <br />
            <input required class="input" type="password" placeholder="Пароль" asp-for="Password" />
            <br />
            <input required class="input" type="password" placeholder="Підтвердіть пароль" asp-for="PasswordRepeat" />
            <br />
            <input required type="date" class="input" placeholder="Дата народження" asp-for="Birthdate" />
            <br />
            <div style="position: relative;" class="input">
                <label class="currency_label"> Валюта </label>
                <select class="currency_selector" asp-for="Currency">
                    <option value="USD">USD</option>
                    <option value="EUR">EUR</option>
                    <option value="UAH">UAH</option>
                </select>
            </div>
            <br />
            <button id="submit" type="submit" value="Submit" class="btn btn-primary">Зареєструватись</button>
        </div>
    </form>
</div>
