
@{
    ViewData["Title"] = "SignUp";
}
<div class="sign_up_window">
    <form class = "form-content">
        <img src="/Assets/Images/bar_chart_growth_logo.png" alt="alt text" />
        <h1>Реєстрація</h1>
        <div class="textBox">
            <input type="url" class="input" data-val="true" data-val-url="The Website field is not a valid fully- 
           qualified http, https, or ftp URL." id="a" name="inputURL" value=""/>
            <br/>
            <input type="url" class="input"  data-val="true" data-val-url="The Website field is not a valid fully-
           qualified http, https, or ftp URL." id="b" name="inputURL" value=""/>
            <br/>
            <input type="url" class="input" data-val="true" data-val-url="The Website field is not a valid fully-
           qualified http, https, or ftp URL." id="c" name="inputURL" value=""/>
            <br/>
            <input type="url" class="input"  data-val="true" data-val-url="The Website field is not a valid fully-
           qualified http, https, or ftp URL." id="d" name="inputURL" value=""/>
            <br/>
            <input type="url" class="input" data-val="true" data-val-url="The Website field is not a valid fully-
           qualified http, https, or ftp URL." id="e" name="inputURL" value=""/>
            <br/>
            <input type="url" class="input" data-val="true" data-val-url="The Website field is not a valid fully-
           qualified http, https, or ftp URL." id="f" name="inputURL" value=""/>
            <br/>
            <input type="url" class="input" data-val="true" data-val-url="The Website field is not a valid fully-
           qualified http, https, or ftp URL." id="g" name="inputURL" value=""/>
            <br/>
            <button id="submit" type="submit" value="Submit" onclick="btnSubmit_Click()"
                    class="btn btn-primary" runat="server">Submit</button>
        </div>
    </form>
</div>
